[submodule "docs/active-dynamics-writing"]
	path = docs/active-dynamics-writing
	url = git@github.com:hyungju-jeon/active-dynamics-writing
[submodule "external/integrative_inference"]
	path = external/integrative_inference
	url = git@github.com:ayeshav/integrative-inference.git
