[submodule "utils/ndlib"]
	path = utils/ndlib
	url = https://github.com/hyungju-jeon/ndlib.git
[submodule "utils/variational_smoothing"]
	path = utils/variational_smoothing
	url = git@github.com:catniplab/variational_smoothing.git
